@model IEnumerable<POCWeb.Models.WeatherForecast>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="PrintPDF">Print</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemperatureC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div id="qrcode"></div>
</div>
<p id="log"></p>